{% with title="Apps", caption="Expand your business with our range of apps. Check out the information below on getting started with them" %}
    {% include 'section.html' %}
{% endwith %}
        <p> <a href="https://help.myob.com/wiki/display/ea/Welcome+to+YourPay">Welcome to YourPay</a> </p>
        <h4>Capture app</h4>
        <p><a href="https://help.myob.com/wiki/x/npo6Ag">Using the MYOB Capture app</a></p> 
        </div>
    </div>
</div>
