{% with title="Banking", caption="Check out our help articles for everything you need to keep track of the cash in your business" %}
    {% include 'section.html' %}
{% endwith %}
<p><a href="http://help.myob.com/wiki/x/C4IR">Setting up bank feeds</a> </p>
<p><a href="https://help.myob.com/wiki/display/ea/Working+with+bank+transactions">Working with bank transactions</a> </p>
<p><a href="https://help.myob.com/wiki/display/ea/Managing+your+bank+feeds#changelinked">Managing bank feeds/cancelling bank feeds</a> </p>
<p><a href="https://help.myob.com/wiki/x/zIER">Bank Reconciliation</a></p> 
<p><a href="https://help.myob.com/wiki/display/ea/Spend+money">Spend Money</a></p> 
<p><a href="https://help.myob.com/wiki/display/ea/Receive+money">Receive Money</a></p> 

</div>
</div>
</div>
