{% with title="End of Financial Year", caption="Stay on top of all of your end of period and end of year requirements. See our help articles for what you need to do, so the end of the quarter or financial year is as stress free as possible" %}
    {% include 'section.html' %}
{% endwith %}
<p>
<a href="https://help.myob.com/wiki/display/ea/End+of+year+finalisation+with+Single+Touch+Payroll+reporting">End of year STP finalization</a>
</p>
<p>
<a href="https://help.myob.com/wiki/display/ea/End+of+financial+year+in+Australia">End of Financial year in Australia</a>
</p>
<p>
<a href="https://www.myob.com/au/small-business/end-of-financial-year">EOFY Key dates</a>
</p>
<p>
<a href="https://help.myob.com/wiki/display/ea/Producing+the+Taxable+payments+annual+report">Producing taxable payments summary report</a>
</p>
<p>
<a href="https://help.myob.com/wiki/pages/viewpage.action?pageId=1147383">Lodging your BAS</a>
</p>

</div>
</div>
</div>
