<br> <br> <br> <br> 

<section class="hero hero--height-sm hero--bg-storm-100 fg-light" id="newsletter-sign-up">
<div class="hero__body">
<div class="hero__content">
  <div class="grid">
    <div class="grid__col-12">
      <form id="blog-newsletter-signup" onsubmit="return submitForm()" class="form form--horizontal form--md form--animate" method="POST" data-myob-form="bidjxp-myob-form" novalidate="" data-abide="xl4ppy-abide">
        <h3 class="hero__title">Have other questions and need some more help?</h3>

        <h5>
            <p>Check out our <a href="https://community.myob.com/t5/MYOB-Essentials/ct-p/MYOBEssentials">MYOB Essentials Community Forum Page</a> and our <a href="https://www.myob.com/au/support">MYOB help centre</a> for great advice from our Community experts, MYOB Partners and MYOB Gurus.</p>

         
            <p>
            Need to see things in action? Check out our Show Me pages for <a href="http://help.myob.com.au/essentials/showme/showme.html">Australia</a> and <a href="http://help.myob.co.nz/essentials/showme/showme.html">New Zealand</a> for short clips on different things you can do with your software.

            </p>
            <p>
            Our MYOB Academy for <a href="https://academy.myob.com/essentials/au">Australia</a> and <a href="https://academy.myob.com/essentials/nz">New Zealand</a> is a great place to hone your skills with our collection of training courses
            </p>
            <p>
        Feel like talking? Our phone support team are available on 1300 555 123 or 0508 328 283</h5>
            </p>
      </form>
    </div>
  </div>
  </div>
  </div>
    </section>

<footer class="site-footer site-footer--NZ" data-swiftype-index="false" data-myob-footer-legacy>
  <div class="footer__container">
    <div class="footer__links">
      

  <div class="footer__col">
    
      <ul class="footer__section" data-myob-accordion-menu>
        <li>
          <a href="/nz/accounting-software" class="footer__heading" role="button">
            Accounting Software
            <svg role="img" class="icon icon-chevron-b icon--xxs">
              
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/etc/designs/myob/icons/global.map.svg#chevron-b"></use>
              
            </svg>
          </a>
          <ul class="footer__panel">
            <li class="footer__link">
              <a href="/nz/accounting-software/features">Software Features</a>
            </li>
          
            <li class="footer__link">
              <a href="/nz/accounting-software/compare">Compare MYOB Accounting Software</a>
            </li>
          
            <li class="footer__link">
              <a href="/nz/accounting-software/essentials">Essentials - Online Accounting Software</a>
            </li>
          
            <li class="footer__link">
              <a href="/nz/accounting-software/accountright">AccountRight - Accounting &amp; Business Management</a>
            </li>
          
            <li class="footer__link">
              <a href="/nz/accounting-software/accountedge">AccountEdge - Accounting Software for Mac</a>
            </li>
          
            <li class="footer__link">
              <a href="/nz/accounting-software/other">Other Solutions for Small Business</a>
            </li>
          
            <li class="footer__link">
              <a href="/nz/accounting-software/free-trial">Try MYOB Accounting Software free</a>
            </li>
          
            <li class="footer__link">
              <a href="https://www.myob.com/nz/support/upgrade">Upgrade or Update Software</a>
            </li>
          
            <li class="footer__link">
              <a href="https://www.myob.com/nz/addons/">Add-on Centre</a>
            </li>
          
            <li class="footer__link">
              <a href="/nz/myob-apps">MYOB mobile apps</a>
            </li>
          </ul>
        </li>
      </ul>
    
      <ul class="footer__section" data-myob-accordion-menu>
        <li>
          <a href="/nz/payroll-software" class="footer__heading" role="button">
            Payroll Software
            <svg role="img" class="icon icon-chevron-b icon--xxs">
              
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/etc/designs/myob/icons/global.map.svg#chevron-b"></use>
              
            </svg>
          </a>
          <ul class="footer__panel">
            <li class="footer__link">
              <a href="/nz/payroll-software/essentials-payroll">Essentials Payroll</a>
            </li>
          
            <li class="footer__link">
              <a href="/nz/payroll-software/ace-payroll">ACE Payroll</a>
            </li>
          
            <li class="footer__link">
              <a href="/nz/payroll-software/ims-payroll">IMS Payroll</a>
            </li>
          </ul>
        </li>
      </ul>
    
      <ul class="footer__section" data-myob-accordion-menu>
        <li>
          <a href="/nz/small-business/retail-pos-software" class="footer__heading" role="button">
            Payments &amp; POS Solutions
            <svg role="img" class="icon icon-chevron-b icon--xxs">
              
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/etc/designs/myob/icons/global.map.svg#chevron-b"></use>
              
            </svg>
          </a>
          <ul class="footer__panel">
            <li class="footer__link">
              <a href="https://myobpayby.com/">MYOB PayBy</a>
            </li>
          
            <li class="footer__link">
              <a href="/nz/small-business/payment-and-pos-solutions/kounta">Kounta</a>
            </li>
          </ul>
        </li>
      </ul>
    
  </div>
<div class="footer__col">
    
      <ul class="footer__section" data-myob-accordion-menu>
        <li>
          <a href="/nz/enterprise" class="footer__heading" role="button">
            Bigger Business Software
            <svg role="img" class="icon icon-chevron-b icon--xxs">
              
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/etc/designs/myob/icons/global.map.svg#chevron-b"></use>
              
            </svg>
          </a>
          <ul class="footer__panel">
            <li class="footer__link">
              <a href="/nz/enterprise/software-systems/exo-erp">Exo - Enterprise Resource Planning</a>
            </li>
          
            <li class="footer__link">
              <a href="/nz/enterprise/software-systems/advanced">Advanced - Cloud ERP Software</a>
            </li>
          
            <li class="footer__link">
              <a href="/nz/enterprise/software-systems/greentree-erp">Greentree - Fully Integrated ERP</a>
            </li>
          
            <li class="footer__link">
              <a href="/nz/enterprise/software-systems/payglobal">PayGlobal - Payroll &amp; HR Management</a>
            </li>
          
            <li class="footer__link">
              <a href="/nz/enterprise/contact-us">Bigger Business Enquiries</a>
            </li>
          </ul>
        </li>
      </ul>
    
      <ul class="footer__section" data-myob-accordion-menu>
        <li>
          <a href="/nz/enterprise/resources" class="footer__heading" role="button">
            Resources
            <svg role="img" class="icon icon-chevron-b icon--xxs">
              
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/etc/designs/myob/icons/global.map.svg#chevron-b"></use>
              
            </svg>
          </a>
          <ul class="footer__panel">
            <li class="footer__link">
              <a href="/nz/enterprise/case-studies">Case Studies</a>
            </li>
          
            <li class="footer__link">
              <a href="/nz/enterprise/resources">Resources &amp; Events</a>
            </li>
          
            <li class="footer__link">
              <a href="https://www.myob.com/nz/enterprise/training-events-1257828421531">Training</a>
            </li>
          
            <li class="footer__link">
              <a href="https://www.myob.com/nz/blog/category/employer-resources/">Employer Resource Centre</a>
            </li>
          </ul>
        </li>
      </ul>
    
  </div>
<div class="footer__col">
    
      <ul class="footer__section" data-myob-accordion-menu>
        <li>
          <a href="/nz/accountants-and-partners" class="footer__heading" role="button">
            Accountants &amp; Partners
            <svg role="img" class="icon icon-chevron-b icon--xxs">
              
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/etc/designs/myob/icons/global.map.svg#chevron-b"></use>
              
            </svg>
          </a>
          <ul class="footer__panel">
            <li class="footer__link">
              <a href="/nz/accountants-and-partners/practice-solutions">Accounting Practice Solutions</a>
            </li>
          
            <li class="footer__link">
              <a href="/nz/accountants-and-partners/practice-solutions/banklink">BankLink</a>
            </li>
          
            <li class="footer__link">
              <a href="/nz/accountants-and-partners/client-solutions">Solutions for your Clients</a>
            </li>
          </ul>
        </li>
      </ul>
    
      <ul class="footer__section" data-myob-accordion-menu>
        <li>
          <a href="/nz/accountants-and-partners/partner-program" class="footer__heading" role="button">
            Partner with MYOB
            <svg role="img" class="icon icon-chevron-b icon--xxs">
              
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/etc/designs/myob/icons/global.map.svg#chevron-b"></use>
              
            </svg>
          </a>
          <ul class="footer__panel">
            <li class="footer__link">
              <a href="/nz/accountants-and-partners/partner-program">Partner Program</a>
            </li>
          
            <li class="footer__link">
              <a href="/nz/accountants-and-partners/partner-program/approved-partner-program">Approved Partner Program</a>
            </li>
          
            <li class="footer__link">
              <a href="/nz/accountants-and-partners/partner-program/connected-accountant">Connected Accounting Program</a>
            </li>
          
            <li class="footer__link">
              <a href="/nz/accountants-and-partners/partner-program/developers">Developer Program</a>
            </li>
          </ul>
        </li>
      </ul>
    
  </div>
<div class="footer__col">
    
      <ul class="footer__section" data-myob-accordion-menu>
        <li>
          <a href="/nz/support" class="footer__heading" role="button">
            Small Business Support
            <svg role="img" class="icon icon-chevron-b icon--xxs">
              
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/etc/designs/myob/icons/global.map.svg#chevron-b"></use>
              
            </svg>
          </a>
          <ul class="footer__panel">
            <li class="footer__link">
              <a href="/nz/support/accountright">Support</a>
            </li>
          
            <li class="footer__link">
              <a href="https://academy.myob.com/">MYOB Academy</a>
            </li>
          
            <li class="footer__link">
              <a href="https://www.myob.com/nz/accountants-and-partners/partner-search">Search for an MYOB partner</a>
            </li>
          
            <li class="footer__link">
              <a href="https://academy.myob.com/">Education</a>
            </li>
          
            <li class="footer__link">
              <a href="/nz/support/customer-service">Customer Service</a>
            </li>
          
            <li class="footer__link">
              <a href="/nz/small-business/cash-flow-success">Cash Flow</a>
            </li>
          
            <li class="footer__link">
              <a href="/nz/contact-us">Contact Us</a>
            </li>
          
            <li class="footer__link">
              <a href="https://www.myob.com/nz/blog/category/growing-a-business/">News for Small Business</a>
            </li>
          </ul>
        </li>
      </ul>
    
      <ul class="footer__section" data-myob-accordion-menu>
        <li>
          <a href="/nz/support/accountants-and-partners" class="footer__heading" role="button">
            Accountants &amp; Partners Support
            <svg role="img" class="icon icon-chevron-b icon--xxs">
              
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/etc/designs/myob/icons/global.map.svg#chevron-b"></use>
              
            </svg>
          </a>
          <ul class="footer__panel">
            <li class="footer__link">
              <a href="https://my.myob.co.nz/Pages/Default.aspx">my.myob</a>
            </li>
          
            <li class="footer__link">
              <a href="http://myob.co.nz/partners/partner-resources-1257828256665">Partner Resources</a>
            </li>
          
            <li class="footer__link">
              <a href="http://community.myob.com/">Community Forum</a>
            </li>
          
            <li class="footer__link">
              <a href="https://academy.myob.com/">MYOB Academy</a>
            </li>
          
            <li class="footer__link">
              <a href="/nz/support/accountants-and-partners/resources/services">Client Service &amp; Support</a>
            </li>
          
            <li class="footer__link">
              <a href="https://www.myob.com/nz/blog/category/accountants-and-bookkeepers/">News for Accountants &amp; Partners</a>
            </li>
          </ul>
        </li>
      </ul>
    
  </div>


    </div>
    <div class="footer__extras">
      <div>
        <div class="footer__ancillary">
          <div class="ancillary-links">
            <ul>
              
  
    <li>
      <a title="About MYOB" href="/nz/about">About MYOB</a>
    </li>
  
    <li>
      <a title="Blog" href="https://www.myob.com/nz/blog/">Blog</a>
    </li>
  
    <li>
      <a title="Media Centre" href="/nz/about/media-centre">Media Centre</a>
    </li>
  
    <li>
      <a title="Careers" href="/nz/careers">Careers</a>
    </li>
  
    <li>
      <a title="Sitemap" href="/nz/sitemap">Sitemap</a>
    </li>
  
    <li>
      <a title="Disclaimer" href="/nz/legal-disclaimer">Disclaimer</a>
    </li>
  
    <li>
      <a title="Privacy Policy" href="/nz/privacy-policy">Privacy Policy</a>
    </li>
  
    <li>
      <a title="Security" href="/nz/about/security/security-commitment">Security</a>
    </li>
  

            </ul>
          </div>
          <div class="select-country">
            <svg role="img" class="icon icon-globe icon--md">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/etc/designs/myob/icons/global.map.svg#globe"></use>
            </svg>
            <select class="dropdown-list">
              <option value="/nz">New Zealand</option>
            
              <option value="/au">Australia</option>
            </select>
          </div>
        </div>
        <div class="footer__social">
          <div class="social-links">
            <ul>
              
  
    <li>
      <a href="https://twitter.com/MYOB">
        <svg role="img" class="icon icon-twitter icon--md">
          
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/etc/designs/myob/icons/global.map.svg#twitter"></use>
          
        </svg>
      </a>
    </li>
  
    <li>
      <a href="https://www.facebook.com/MYOB">
        <svg role="img" class="icon icon-facebook icon--md">
          
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/etc/designs/myob/icons/global.map.svg#facebook"></use>
          
        </svg>
      </a>
    </li>
  
    <li>
      <a href="https://www.linkedin.com/company/myob">
        <svg role="img" class="icon icon-linkedin icon--md">
          
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/etc/designs/myob/icons/global.map.svg#linkedin"></use>
          
        </svg>
      </a>
    </li>
  
    <li>
      <a href="https://www.instagram.com/myob/">
        <svg role="img" class="icon icon-instagram icon--md">
          
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/etc/designs/myob/icons/global.map.svg#instagram"></use>
          
        </svg>
      </a>
    </li>
  

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__copyright">
      <p><p>Copyright © 2019 <a href="https://www.myob.com/">MYOB
  Technology</a> Pty Ltd. All rights reserved.<br /> </p>
</p>
    </div>
  </div>
  <div class="site-footer__gradient"></div>
</footer>

