<!DOCTYPE html>
<html>
    <head>
	<title>Cheat Sheet</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://assets.digital.myob.com/version/4.4.1/css/site.min.css"/> <link rel="stylesheet" href="/static/style.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>

    <body>
	<div class="jumbotron text-center">
            <a href="/"><img src="/static/myob-resize.png" height="170"></a>
	    <h1>Essentials Cheat Sheet</h1>
	</div>
	<div class="containercomp parbase">
            <section id="accountright-content-container" class="container  mt-5 mb-3 mb-2--lg bg-none " data-magellan-target="accountright-content-container">
                <div class="wrapper">
                    <div class="row ">
                        <div class="columncontrolcomp basecomp parbase col">
                            <div class="row">
				{% if printall %}
                                        {% include "apps.html" %}
                                        {% include "sales.html" %}
                                        {% include "banking.html" %}
                                        {% include "eofy.html" %}
                                        {% include "payroll.html" %}
                                        {% include "purchases.html" %}
				{% else %}
                                {% for selection in selections %}
				    {% if selection == "apps" %}
					{% include "apps.html" %}
				    {% endif %}
				    {% if selection == "eofy" %}
					{% include "eofy.html" %}
				    {% endif %}
				    {% if selection == "banking" %}
					{% include "banking.html" %}
				    {% endif %}
				    {% if selection == "sales" %}
					{% include "sales.html" %}
				    {% endif %}
				    {% if selection == "payroll" %}
					{% include "payroll.html" %}
				    {% endif %}
				    {% if selection == "purchases" %}
					{% include "purchases.html" %}
				    {% endif %}
                                {% endfor %}
				{% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        {% include 'footer.html' %}
    </body>

</html>
