<!DOCTYPE html>
<html>

    <head>
	<title>Cheat Sheet</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://assets.digital.myob.com/version/4.4.1/css/site.min.css"/>
        <link rel="stylesheet" href="/static/style.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>

    <body>

	<div class="jumbotron text-center">
            <a href="/"><img src="/static/myob-resize.png" height="170"></a>
	    <h1>Essentials Cheat Sheet</h1>
            <p>Welcome to your MYOB Essentials housewarming page. </p><p>Let’s get you started by selecting what your interested in from our list below</p> 
	</div>
        <div class="mainbody">
	<div class="wrapper my-5 my-6--md my-7--lg mb-0--last">
	    <form method="post" action="/">
		<div class="form-check">
                    <h3>
                    {% for key, value in selections.items() %}
                    <input type="checkbox" name="check" value="{{ key }}">  {{ value }}<br>
                    {% endfor %}
                    <input type="checkbox" name="check" value="all">  I am interested in all of the above<br>
                    </h3>
                    <!-- color code --!>
		    <input style="background-color: #00AA65; color: white; border-radius: 4px; border: none; padding: 10px 30px" type="submit" name="submit" value="submit">
		</div>
	    </form>
	</div>
	</div>


        {% include 'footer.html' %}

    </body>

</html>
