{% with title="Payroll", caption="Get off on the right foot with your payroll with our collection of helpful articles on the entire process from setting up employees to paying your super and STP reporting" %}
    {% include 'section.html' %}
{% endwith %}
<p> <a href="https://help.myob.com/wiki/x/1YER">Enter in employees</a> </p><p>
<a href="https://help.myob.com/wiki/display/ea/Creating+pay+items">Creating pay items</a> </p><p>
<a href="https://help.myob.com/wiki/display/ea/Modifying+or+deleting+pay+items">Modifying pay items</a> </p><p>
<a href="https://help.myob.com/wiki/display/ea/Leave+calculations">Leave calculations</a> </p><p>
<a href="https://help.myob.com/wiki/display/ea/Do+a+pay+run">Do a pay run</a> </p><p>
<h4>Oops – I made a mistake</h4>
<a href="https://help.myob.com/wiki/display/ea/Changing+or+deleting+a+pay">Changing or deleting a pay</a>
</p><p> <a href="https://help.myob.com/wiki/display/ea/Pay+history">Pay history</a>
</p><p> <h4>STP reporting</h4>
<a href="https://help.myob.com/wiki/display/ea/Single+Touch+Payroll">Single touch payroll</a> </p><p>
<a href="https://help.myob.com/wiki/display/ea/Terminate+an+employee+in+Single+Touch+Payroll+reporting">Terminate an employee in single touch payroll</a> </p><p>
<h4>Superannuation</h4>
<p><a href="http://help.myob.com/wiki/display/ea/Set+up+Pay+superannuation">Set up pay superannuation</a></p>
<p><a href="http://help.myob.com/wiki/display/ea/Paying+super">Paying super</a> </p>

</div>
</div>
</div>
