{% with title="Purchases", caption="Buying off your suppliers? See the help articles below for getting started with recording bills from your suppliers" %}
    {% include 'section.html' %}
{% endwith %}
<p><a href="https://myob.service-now.com/kb_view_article.do?sys_kb_id=64c5a07d6fd331001d74cd35eb3ee422&sysparm_language=&sysparm_nameofstack=&sysparm_kb_search_table=&sysparm_search=purchases">Getting started with Purchases</a></p> 
<p> <a href="https://help.myob.com/wiki/display/ea/Working+with+In+tray+documents">Working with In Tray documents</a> </p>
<p><a href="https://help.myob.com/wiki/display/ea/Creating+bills">Creating bills</a></p> 

 

</div>
</div>
</div>
