{% with title="Sales", caption="See our help articles below for everything you need to know on getting started with recording and sending invoices to your customers" %}
    {% include 'section.html' %}
{% endwith %}
<p> <a href="https://help.myob.com/wiki/display/ea/Creating+invoices">Creating invoices</a> </p>
<p> <a href="https://help.myob.com/wiki/display/ea/Customer+returns%2C+credits%2C+and+refunds">Customer returns, credits and refunds</a> </p>

</div>
</div>
</div>
