<div class="col col-4 col-12--sm col-12--md col-6--lg">
    <div class="titlecomp parbase">
        <b><h1>{{ title }}  </b>
        <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="url(#myob-icon-gradient)">
                    <title>bubble-chat-typing</title>
                            <path d="M11.999 10c-.551 0-1 .449-1 1 0 .551.449 1 1 1 .551 0 1-.449 1-1 0-.551-.449-1-1-1M1.362 23.249c-.133 0-.262-.053-.359-.151-.148-.153-.184-.383-.088-.573l2.41-4.811C1.177 15.869 0 13.458 0 10.883-.001 8.224 1.261 5.73 3.551 3.861 5.812 2.016 8.812 1 11.999 1c6.617 0 12 4.434 12 9.883 0 5.449-5.383 9.883-12 9.883-1.368 0-2.709-.189-3.99-.56l-6.436 2.996c-.068.031-.14.047-.211.047zM11.999 2c-2.957 0-5.733.936-7.816 2.636C2.13 6.311.999 8.53 1 10.883c0 2.387 1.159 4.628 3.262 6.309.185.148.241.404.135.615L2.452 21.69l5.307-2.47c.112-.053.24-.062.357-.026 1.241.379 2.548.572 3.883.572 6.065 0 11-3.985 11-8.883S18.064 2 11.999 2zm0 11c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2zm-6 0c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2zm0-3c-.551 0-1 .449-1 1 0 .551.449 1 1 1 .551 0 1-.449 1-1 0-.551-.449-1-1-1zm12 3c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2zm0-3c-.552 0-1 .449-1 1 0 .551.448 1 1 1s1-.449 1-1c0-.551-.448-1-1-1z" fill="#687480" fill-rule="evenodd"></path>
                                </svg></h1>
    </div>
    <div class="textcomp parbase">
        <h4>{{ caption }}</h4>
        <div class="mb-2 mb-3--lg mb-0--last">
